<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>

<h1>Изменить пользователя</h1>

<form th:action="@{/admin/edit/{id}(id=${user.id})}" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username" th:value="${user.username}" required>
  </div>

  <div>
    <label>Surname:</label>
    <input type="text" name="surname" th:value="${user.surname}" required>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Пустое без изменений">
  </div>

  <div>
    <label>Roles:</label>
    <div th:each="role : ${allRoles}">
      <input type="checkbox"
             th:value="${role.id}"
             name="roleIds"
      th:checked="${#lists.contains(user.roles, role)}">
      <label th:text="${role.name}"></label>
    </div>
  </div>

  <div>
    <button type="submit">Обновить</button>
    <a th:href="@{/admin}">Отменить</a>
  </div>
</form>

</body>
</html>