<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<h1>Регистрация нового пользователя</h1>

<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" th:field="*{username}" id="username" required/>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red"></div>
    </div>

    <div>
        <label for="surname">Фамилия:</label>
        <input type="text" th:field="*{surname}" id="surname" required/>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color:red"></div>
    </div>

    <div>
        <label for="password">Пароль:</label>
        <input type="password" th:field="*{password}" id="password" required/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></div>
    </div>

    <div>
        <input type="submit" value="Зарегистрироваться"/>
        <a th:href="@{/login}" style="margin-left: 10px;">Уже есть аккаунт?</a>
    </div>
</form>

</body>
</html>