<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>

<h1>
    Добро пожаловать,
    <span th:text="${user.username} + ' ' + ${user.surname}"></span>
</h1>

<div>
    <p>Роли:
        <span th:each="role, iterStat : ${user.roles}"
              th:text="${role.name} + (${iterStat.last} ? '' : ', ')">
        </span>
    </p>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>

</body>
</html>